# List of required pyhon packages
# Also note that docker-buildx package (docker addon) is needed
#  for docker compose to build container

fastapi>=0.120.0
jinja2
python-multipart
uvicorn[standard]==0.32.*
#TiTiler
rio-tiler
rasterio
numpy==2.*
pandas==3.*
